[user]
	email = edi33416@gmail.com
	name = Eduard Staniloiu
[push]
	default = simple
[alias]
	pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
